@{
    ViewBag.Title = "YazarOnaylari";
    int i = 1;
}

@model IEnumerable<B403Blog.Models.Kullanici>
@using B403Blog.Models

   

        <section class="panel">
            <header class="panel-heading">
                Yazar Onayları
            </header>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Kullanıcı Adı</th>
                        <th>Onay</th>
                        <th>Kaydet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Kullanici kl in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@kl.Adi</td>
                            <td>@kl.Soyadi</td>
                            <td>@kl.KullaniciAdi</td>
                            <td><input type="checkbox" class="@kl.KullaniciId"  name="onay" value="" /></td>
                            <td><button type="button"  class="btn btn-blue kaydet" data-kid="@kl.KullaniciId" style="width:40px;height:30px" name="name" value="">+</button> </td>
                            <td><span style="color:green" class="s @kl.KullaniciId"></span></td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </section>
   
@section scripts{

<script src="~/Content/jquery-1.8.3.min.js"></script>
    <script>    
        $(".kaydet").click(function () {
            var btn = $(this);
            var id = $(this).data("kid");
            var kontrol = $("." + id).attr("checked");
            if (kontrol=="checked") {
                $.ajax({
                    type: "post",
                    url: "/Admin/YazarOnayla",
                    data: { kid: id, combo: kontrol },
                    success: function (veri) {
                        $(".s" + "." + id).text(veri);
                        
                        btn.attr("disabled", "disabled");
                    },
                    error: function () {
                        $("." + id).text(veri);
                    }

                });
            }
           
        });

        
    </script>
}

